<!DOCTYPE html>
<!--
    Bradford Smith (bsmith8)
    CS 546 Assignment 4 index.ejs
    05/09/2016
    "I pledge my honor that I have abided by the Stevens Honor System."
-->
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <div class="container">
        <header>
            <h1>Movie API Frontend</h1>
            <p>Browse, rate, delete and add movies below</p>
        </header>
        <main class="row">
            <h2>Movies</h2>
            <!-- TODO: hook up links -->
            <a href="#all" id="get-all-movies">All Movies</a>
            <a href="#pop" id="get-pop-movies">Popular Movies</a>
            <p>In here are the movies</p>
            <% movies.forEach(function (m) { %>
            <section class="movie-listing" id="listing_<%- m._id %>">
                <h3><%- m.title %></h3>
                <p>Rating: <%- m.rating %></p>
                <button type="button" class="increment" id="inc_<%- m._id %>">Increase Rating</button>
                <button type="button" class="decrement" id="dec_<%- m._id %>">Decrease Rating</button>
                <button type="button" class="delete" id="del_<%- m._id %>">Delete</button>
            </section>
            <% }); %>
        </main>
        <footer>
            <h2>Add a Movie</h2>
            <p>Use this form to add a movie.</p>
            <form id="add-movie-form">
                <label for="add-movie-title">Title:
                    <input type="text" name="title" id="add-movie-title" required="true"><br>
                </label>
                <label for="add-movie-rating">Rating:
                    <input type="number" name="rating" id="add-movie-rating" min="1" max="5" step=".1" required="true"><br>
                </label>
                <input type="submit" value="Add Movie">
            </form>
        </footer>
    </div>

    <% include ../partials/scripts %>
</body>

</html>
